legacy-peer-deps = true
registry=https://registry.npmjs.org/
@owse:registry=https://nexus.owse.com.br/repository/kip4you-npm-group/
@akip:registry=https://nexus.owse.com.br/repository/kip4you-npm-group/
registry=https://registry.npmjs.org/

